<footer>
    <article class="contactanos">
      <h3> Contactanos </h3>
         <div class="contactanos_iconos">
            <i class="fab fa-facebook-square"></i>   
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>

        <h3> Aceptamos </h3>
        <div class="contactanos_iconos">
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-paypal"></i>
            <i class="fab fa-cc-amex"></i>
       </div>
    </article>

    <article>

        <h3> Acerca de nosotros...  </h3>
        <br>
        <div>Quienes somos</div>
        <div>Programas afiliados</div>
        <div>Blogger de moda</div>
    </article>
    
    <article>

        <h3> Necesitas ayuda?  </h3>
        <br>
        <div>Informacion de envio</div>
        <div>Devoluciones</div>
        <div>Como realizar la compra</div>
        <div>Rastrear el pedido</div>
        <div>Puntos</div>


    </article>
    <article>
        <div>
             <img width="100%" src="/images/Logotipo.png" alt="">   <!-- LOGOTIPO -->
        </div>
     </article>      

</footer>