<span >
    <img class="Fondo" src="/images/Fondo.jpg" alt=""> 
    </span>
    <header>
        <article class="header">

             <div class="bloque_1">
                    <span class="Logotipo">
                        <img width="100%" src="/images/Logotipo.png" alt="">   <!-- LOGOTIPO -->
                    </span>

                    <span>
                        <a href="/"><i class="fas fa-home"></i></a>        <!-- Casita de HOME -->
                    </span>

                    <span>
                        <button class="categorias">Categorias</button>                             <!-- Boton de categorias  -->
                    </span>

                    <span class= "Barra_de_busqueda">
                        <input class="busquedor" type="text" placeholder="Buscar productos, marcas">  <!-- PONER BARRA DE BUSQUEDA CON ESTO -->
                        <i class="fas fa-search"></i>  <!-- Poner el boton de la busqueda-->
                    </span>
                    <span class="carrito">
                        <a href="/productCart"> <i class="fas fa-shopping-cart"></i></a> <!-- Carrito de mercado libre  -->
                    </span>
                    <span>
                        <a href="/login"><i class="fas fa-user-circle"></i></a>       <!-- Monito de Usuario  -->
                    </span>                   

             </div>

        </article>

    </header>