<!DOCTYPE html>
<html lang="en">

 
<head>       
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Deportes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- pagina de estilos recomendada en el Ejercicio -->
     
    <link rel="preconnect" href="https://fonts.gstatic.com">   <!-- Documentos de estilo de letra ROBOTO -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">  <!-- Para mandar llamar al archivo css general que usaremos-->

    
</head>
<body>
    <span >
    <img class="Fondo" src="/images/Fondo.jpg" alt=""> 
    </span>
    <header>
        <article class="header">

             <div class="bloque_1">
                    <span class="Logotipo">
                        <img width="100%" src="/images/Logotipo.png" alt="">   <!-- LOGOTIPO -->
                    </span>

                    <span>
                        <a href="/"><i class="fas fa-home"></i></a>        <!-- Casita de HOME -->
                    </span>

                    <span>
                        <button class="categorias">Categorias</button>                             <!-- Boton de categorias  -->
                    </span>

                    <span class= "Barra_de_busqueda">
                        <input class="busquedor" type="text" placeholder="Buscar productos, marcas">  <!-- PONER BARRA DE BUSQUEDA CON ESTO -->
                        <i class="fas fa-search"></i>  <!-- Poner el boton de la busqueda-->
                    </span>
                    <span class="carrito">
                        <a href="/productCart"> <i class="fas fa-shopping-cart"></i></a> <!-- Carrito de mercado libre  -->
                    </span>
                    <span>
                        <a href="/login"><i class="fas fa-user-circle"></i></a>       <!-- Monito de Usuario  -->
                    </span>                   

             </div>

        </article>

    </header>
    
  <main> 
        <ul><li class= "titulares"> Lo mejor en equipos</p></li></ul>


    <section class="section_1">
        
        <br>
        
        
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto"> 
                    <i class="fas fa-shopping-basket"></i> 
                        <p class= "precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$230.00</p>
                        <p class="descuentos">20% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class= "descripciones">  Tennis nike originales</p> <br>        
                </div>
            </a>
        </article>    


    </section>


                    <ul><li class= "titulares"> Ofertas</li></ul>
    <section class="section_2">
        
        
        
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto"> 
                    <i class="fas fa-shopping-basket"></i>  
                        <p class= "precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$230.00</p>
                        <p class="descuentos">20% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class= "descripciones">  Tennis nike originales</p> <br>        
                </div>
            </a>
        </article>
        <br>
    </section>
  </main>  


    <footer>
        <article class="contactanos">
          <h3> Contactanos </h3>
             <div class="contactanos_iconos">
                <i class="fab fa-facebook-square"></i>   
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
            </div>

            <h3> Aceptamos </h3>
            <div class="contactanos_iconos">
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-cc-amex"></i>
           </div>
        </article>

        <article>

            <h3> Acerca de nosotros...  </h3>
            <br>
            <div>Quienes somos</div>
            <div>Programas afiliados</div>
            <div>Blogger de moda</div>
        </article>
        
        <article>

            <h3> Necesitas ayuda?  </h3>
            <br>
            <div>Informacion de envio</div>
            <div>Devoluciones</div>
            <div>Como realizar la compra</div>
            <div>Rastrear el pedido</div>
            <div>Puntos</div>


        </article>
        <article>
            <div>
                 <img width="100%" src="/images/Logotipo.png" alt="">   <!-- LOGOTIPO -->
            </div>
         </article>      

    </footer>

</body>
</html>