<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <title>Registro</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <nav>
        <header>
            <article class="header">
    
                 <div class="bloque_1">
                        <span class="Logotipo">
                            <img width="100%" src="/images/Logotipo.png" alt="">   <!-- LOGOTIPO -->
                        </span>
    
                        <span>
                            <a href="/"><i class="fas fa-home"></i></a>        <!-- Casita de HOME -->
                        </span>
    
                        <span>
                            <button class="categorias">Categorias</button>                             <!-- Boton de categorias  -->
                        </span>
    
                        <span class= "Barra_de_busqueda">
                            <input class="busquedor" type="text" placeholder="Buscar productos, marcas">  <!-- PONER BARRA DE BUSQUEDA CON ESTO -->
                            <i class="fas fa-search"></i>  <!-- Poner el boton de la busqueda-->
                        </span>
                        <span class="carrito">
                            <a href="/productCart"> <i class="fas fa-shopping-cart"></i></a> <!-- Carrito de mercado libre  -->
                        </span>
                        <span>
                            <a href="/login"><i class="fas fa-user-circle"></i></a>       <!-- Monito de Usuario  -->
                        </span>                   
    
                 </div>
    
            </article>
        </header>
    </nav>

    <body>

    <main class="m2">
        <div class="register">REGISTRATE</div>
        
        <form action="/" method="GET">

            <div class="form1">
                <div>
                    <input class="formu" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                </div>
    
                <div>
                    <input class="formu" type="text" name="apellido" id="apellido" placeholder="Apellido" required>
                </div>
            </div>

            <div>
                <input class="formu" type="email" name="correo" id="correo" placeholder="Correo" required>
            </div>

            <div class="form1">
                <div>
                    <input class="formu"type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
                </div>
    
                <div>
                    <input class="formu"type="password" name="contraseña" id="contraseña2" placeholder="Confirma contraseña" required>
                </div>    
            </div>

            <div>
                <input class="formu"type="text" name="pais" id="pais" placeholder="Pais" required>
            </div>

            <div class="boton"> 
                <button type="submit">Resgistrate</button>
            </div>

            <div class="inicio"><a href="/login">Iniciar sesion</a></div>
        </form>
    </main>

    </body>

    <footer>
        <article class="contactanos">
            <h3> Contactanos </h3>
               <div class="contactanos_iconos">
                  <i class="fab fa-facebook-square"></i>   
                  <i class="fab fa-whatsapp"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-twitter"></i>
              </div>
  
              <h3> Aceptamos </h3>
              <div class="contactanos_iconos">
                  <i class="fab fa-cc-mastercard"></i>
                  <i class="fab fa-cc-visa"></i>
                  <i class="fab fa-cc-paypal"></i>
                  <i class="fab fa-cc-amex"></i>
             </div>
          </article>
  
          <article>
  
              <h3> Acerca de nosotros...  </h3>
              <br>
              <div>Quienes somos</div>
              <div>Programas afiliados</div>
              <div>Blogger de moda</div>
          </article>
          
          <article>
  
              <h3> Necesitas ayuda?  </h3>
              <br>
              <div>Informacion de envio</div>
              <div>Devoluciones</div>
              <div>Como realizar la compra</div>
              <div>Rastrear el pedido</div>
              <div>Puntos</div>
  
  
          </article>
          <article>
              <div>
                   <img width="100%" src="/images/Logotipo.png" alt="">   <!-- LOGOTIPO -->
              </div>
           </article>
    </footer>
</html>