
.principal{
    background-color: #f8f8ff;
    display: flex;
    justify-content:stretch;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 2vw;
    margin: 10vw;
    width: 80vw;
    box-shadow: 0px 0px 10px 5px #909090 ;
    
   
    
}
.Descripcion{
   
    background-color: #f8f8ff;
    margin: -9.4vw;
    padding: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vw;
    width: 80vw;
    text-align: start;
    font-size: 15px;
    box-shadow: 0px 0px 10px 5px #909090;
}

.contenido1{
    padding-left: 11vw;
    font-size: 2em;
    justify-content: left;
    text-align: left;
    width: 37vw;
    
   
}
.categoria{
    font-size: 20px;
}
.precio{
    text-align: center;
    font-size: 1.5em;
}
.contenido2{
    border-top: 1px  solid #262626;
    margin-top: -1vw;

    
    
}



.imgch img{
    height: 8vw;
    width: 8vw;
    padding-right: 10px;
    
    
}
.imgg img{
    height: 30vw;
    width: 30vw;
    box-shadow: 0px 0px 10px 5px #909090 ;
    
}

input{
    text-align: center;
    width: 11vw;
    height: 4vw;
    font-size: .7em;
    background-color: white;
    box-shadow: 0px 0px 10px -6px #909090;
    border-radius: 25px;
}

.createProductError{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1.5vw;
    padding-bottom: .5vw;
}

.indicadorCAR{
    text-align: center;
    width: 12vw;
    height: 3vw;
    padding: .5vw;
    font-size: 1.4em;
    background-color: white;
    box-shadow: 0px 0px 10px -6px #909090;
    border-radius: 8px;
}

.alinear{
    display: flex;
    margin-left: 0vw;
    margin-bottom: 4vw;
    margin-top: 0.5vw;
    padding-left: 2vw;
    
}



.descripcionTalla{
    font-size: 1.5vw;
}
.btn{
    margin-left: 2vw;
    display: inline-block;
    height: 3vw;
    width: 6vw;
    background-color: gray;
    font-size: 15px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 5px #909090;


}
.Descripcion i{
    margin-left: 900px;
}
h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    
}


.botonProduct{
    display: flex;
}

.btnProduct{
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1vw;
    width: 8vw;
    background: var(--color-secundario);
    border: 0;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 4%);
    padding: .26vw 1.04vw .26vw 1.04vw;
    margin-top: .78vw;
    margin-bottom: .78vw;
}

.btnProduct2{
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.3vw;
    width: 12vw;
    background: var(--color-secundario);
    border: 0;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 4%);
    padding: .86vw 1.5vw .86vw 1.5vw;
    margin-top: .78vw;
    margin-bottom: .78vw;
}


.botonPrimary{
    display: flex;
    justify-content: space-around;
}

.carButtonDelete{
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.4vw;
    width: 10vw;
    background: rgb(135 125 125 / 21%);
    border: 0;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 4%);
    padding: .26vw 1.04vw .26vw 1.04vw;
    margin-top: 0.5vw;
    margin-bottom: .5vw;
    margin-left: 45vw;
}

.carButtonDeleteDIV{
    text-align: right;
}

.carCantidad{
    width: 6vw;
    height: 3vw;
    margin-top: 0vw;
    margin-left: 2vw;
}

.imageProduct{
    width: 100%;
    height: 100%;
    padding: 2vw;
}

.carDescriptionID{
    display: flex;
    justify-content: space-around;
}

.carDescriptionLetters{
    margin-top: .5vw;
    margin-bottom: 1vw;
    display: flex;
}

.carLetters{
    text-align: center;
    width: 13vw;
}