
.principal{
    background-color: #f8f8ff;
    display: flex;
    justify-content:stretch;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 2vw;
    margin: 10vw;
    width: 80vw;
    box-shadow: 0px 0px 10px 5px #909090 ;
    
   
    
}
.Descripcion{
   
    background-color: #f8f8ff;
    margin: -105px;
    padding: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vw;
    width: 80vw;
    text-align: start;
    font-size: 15px;
    box-shadow: 0px 0px 10px 5px #909090;
}

.contenido1{
    padding-left: 11vw;
    font-size: 21px;
    justify-content: left;
    text-align: left;
    width: 37vw;
    
   
}
.categoria{
    font-size: 20px;
}
.precio{
    text-align: center;
    font-size: 30px;
}
.contenido2{
    border-top: 1px  solid #262626;
    margin-top: -1vw;

    
    
}



.imgch img{
    height: 8vw;
    width: 8vw;
    padding-right: 10px;
    
    
}
.imgg img{
    height: 30vw;
    width: 30vw;
    box-shadow: 0px 0px 10px 5px #909090 ;
    
}

input{
    text-align: center;
    width: 3vw;
    background-color: white;
    box-shadow: 0px 0px 10px -6px #909090;
    border-radius: 25px;
}

.indicadorCAR{
    text-align: center;
    width: 12vw;
    background-color: white;
    box-shadow: 0px 0px 10px -6px #909090;
    border-radius: 25px;
}

.alinear{
    display: flex;
    margin-left: 0vw;
    margin-bottom: 4vw;
    margin-top: -1.5vw;
    
}
.btn{
    margin-left: 2vw;
    display: inline-block;
    height: 3vw;
    width: 6vw;
    background-color: gray;
    font-size: 15px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 5px #909090;


}
.Descripcion i{
    margin-left: 900px;
}
h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    
}
