.articulos{
    background-color: #f8f8ff;
    padding: 1%;  
    opacity: 100%;
    
   
}

section.articulos{
    margin: 30px;
    justify-content: start;
    text-align: start;
    font-size: 18px;
    font-style: unset;
    color: black;
   
    
    box-shadow: 0px 0px 10px 5px #909090 ;
    
}
.detalles{
    background-color: #f8f8ff;
    margin: 30px;
    width: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px #909090 ;
}


.des{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vw;
}

.in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1vw;
    
}
.in img{
    width: 15vw;
    height: auto;
    border-color: black;
}

.precio{
    padding-left: 19vw;
}
.total{
    padding-right: 90px;
}
.centro{
    margin: 20px;
    padding-bottom: 2vw;

}


.carro-ventas-imagen{
    padding-left: 0vw;
}

.carro-ventas-nombre{

    padding: 0vw;
    font-size: 1.2em;
    line-height: 1.5;
    height: 7vw;
    width: 20vw;
}


.ultimo{
    padding-left: 2vw;
    background-color: #f8f8ff;
    width: 46vw;
    height: 15vw;
    text-align: start;
    font-size: 3em;
    padding-bottom: 2vw;
    box-shadow: 0px 0px 10px 5px #909090;
    margin-bottom: 3vw;
    margin-left: 48.5vw;
    
}
.ult{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 1em;
    padding-top: 30px;
    text-align: center;
    
    

}
.tl{
    padding-right: 50px;
}
.btPagar input {
    padding-top: .5vw;
    padding-right: 1vw;
    height: 4vw;
    width: 12vw;
    font-size: .7em;
    display: flex;
    justify-content: center;
    padding-bottom: 1vw;
    text-align: start;
    color: black;
    background-color: #c0b600;
    padding-left: 1vw;
    font-weight: bold;
}
.btPagar{
    padding-right: 20px;
}





