<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <title>Registro</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>

    <nav>
        <%- include('../partials/header') %>
    </nav>

    <body>

    <main class="m2">
        <div class="register">REGISTRATE</div>
        
        <form action="/register" method="POST"  enctype="multipart/form-data">

            <div class="form1">
                <div>
                    <label for="firstName" ></label>
                    <input class="formu" type="text" name="firstName" id="firstName" placeholder="Nombre" required>
                </div>
    
                <div>
                    <label for="lastName" ></label>
                    <input class="formu" type="text" name="lastName" id="lastName" placeholder="Apellido" required>
                </div>
            </div>

            <div>
                <label for="email" ></label>
                <input class="formu" type="email" name="email" id="email" placeholder="Correo" required>
            </div>


            <div class="form1">
                <div>
                    <label for="age" ></label>
                    <input class="formu" type="text" name="age" id="age" placeholder="Edad" required>
                </div>
    
                <div>
                    <label for="numberCel" ></label>
                    <input class="formu" type="text" name="numberCel" id="numberCel" placeholder="Numero de telefono" required>
                </div>
            </div>
            
            <div class="form1">
                <div>
                    <label for="password" ></label>
                    <input class="formu"type="password" name="password" id="password" placeholder="Contraseña" required>
                </div>
    
                <div>
                    <label for="password2" ></label>
                    <input class="formu"type="password" name="password2" id="password2" placeholder="Confirma contraseña" required>
                </div>    
            </div>
            <div class="boton"> 
                <button type="submit">Resgistrate</button>
            </div>

            <div class="inicio"><a href="/login">Iniciar sesion</a></div>
        </form>
    </main>

    </body>

    <%- include('../partials/footer') %>
    
</html>