<!DOCTYPE html>
<html lang="en">

 
<head>       
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Deportes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- pagina de estilos recomendada en el Ejercicio -->
     
    <link rel="preconnect" href="https://fonts.gstatic.com">   <!-- Documentos de estilo de letra ROBOTO -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">  <!-- Para mandar llamar al archivo css general que usaremos-->

    
</head>
<body>
    
    <%- include('./partials/header') %>
    
  <main> 
        <ul><li class= "index_titulares"> Lo mas nuevo!!! </p></li></ul>


    <section class="index_section_1">
        <article class="index_productos_tren">
            <div class="index_productos_principales"><img width="80%" src="/images/teni_nike_2.png" alt=""></div>
                <div class="index_informacion_de_producto">    
                        <p class= "index_precios">$24.00 Dlls</p>
                        <p class= "index_descripciones">Tennis NIKE </p> <br>
                </div>
        </article>

    </section>
        <ul><li class= "index_titulares"> Categorias</li></ul>
    <section class="index_section_2">
        
        <article class="index_productos">
            <div class="index_imagen_producto"><a href="/producto"><img width="80%" src="/images/futbol.jpg" alt=""></a></div>
                <div class="index_informacion_de_producto"> 
                        <p class= "index_descripciones">Futbol</p> <br>
                </div>
        </article>

        <article class="index_productos">
            <div class="index_imagen_producto"><a href="/productos"><img width="80%" src="/images/basquetbol.jpg" alt=""></a></div>
                <div class="index_informacion_de_producto">
                        <p class= "index_descripciones">basquetbol</p> <br>
                </div>
        </article>

        <article class="index_productos">
            <div class="index_imagen_producto"><img width="80%" src="/images/beisbol.jpg" alt=""></div>
                <div class="index_informacion_de_producto">
                        <p class= "index_descripciones">Beisbol</p> <br>
                </div>
        </article>
        
        <article class="index_productos">
            <div class="index_imagen_producto"><img width="80%" src="/images/f_americano.jpg" alt=""></div>
                <div class="index_informacion_de_producto">
                        <p class= "index_descripciones">  Futbol Americano</p> <br>        
                </div>
        </article>
        <br>

    </section>
  </main>
  
  <%- include('./partials/footer') %>

</body>
</html>