<!DOCTYPE html>
<html lang="en">

 
<head>       
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Deportes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- pagina de estilos recomendada en el Ejercicio -->
     
    <link rel="preconnect" href="https://fonts.gstatic.com">   <!-- Documentos de estilo de letra ROBOTO -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">  <!-- Para mandar llamar al archivo css general que usaremos-->

    
</head>
<body>
    <%- include('../partials/header') %>
    
  <main> 
        <ul><li class= "titulares"> Lo mejor en equipos</p></li></ul>


    <section class="section_1">
        
        <br>
        
        
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto"> 
                    <i class="fas fa-shopping-basket"></i> 
                        <p class= "precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$230.00</p>
                        <p class="descuentos">20% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class= "descripciones">  Tennis nike originales</p> <br>        
                </div>
            </a>
        </article>    


    </section>


                    <ul><li class= "titulares"> Ofertas</li></ul>
    <section class="section_2">
        
        
        
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto"> 
                    <i class="fas fa-shopping-basket"></i>  
                        <p class= "precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$230.00</p>
                        <p class="descuentos">20% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class= "descripciones">Tennis nike originales</p> <br>
                </div>
            </a>
        </article>
        <article class="productos">
            <a href="/productDetail">
            <div class="imagen_producto"><img width="80%" src="/images/teni_nike_4.jpg" alt=""></div>
                <div class="informacion_de_producto">
                    <i class="fas fa-shopping-basket"></i>
                        <p class= "precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class= "descripciones">  Tennis nike originales</p> <br>        
                </div>
            </a>
        </article>
        <br>
    </section>
  </main>  

  <%- include('../partials/footer') %>

</body>
</html>