<!DOCTYPE html>
<html lang="en">

 
<head>       
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Deportes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- pagina de estilos recomendada en el Ejercicio -->
     
    <link rel="preconnect" href="https://fonts.gstatic.com">   <!-- Documentos de estilo de letra ROBOTO -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">  <!-- Para mandar llamar al archivo css general que usaremos-->
    <link rel="stylesheet" href="css/stilo.css">
    <title>Document</title>

    
</head>
<body>

    <%- include('./partials/header') %>
    
  <main> 
    <section class="articulos">
        <div><title2>Articulos(#)</title2></div>

    </section>
    <section class="detalles">
        
        <div class="centro">
        <div class="des">
            
            <div><h3>Articulo</h3></div>
            <div class="precio"><h3>Precio</h3></div>
            <div><h3>Cantidad</h3></div>
            <div class="total"><h3>Total</h3></div>
       
    </div>
        <div class="in">
        <img class src="images/cuadroVacio.png" alt="Cuadro" class="cuadroVacio"> <h3>Nombre Talla</h3>
        <div ><input type="number" name="Precio" placeholder="$000.000"></div>
        <div class="cantidad"><i class="fas fa-search-minus"></i><input type="number" name="Cantidad" placeholder="00"><i  class="fas fa-search-plus"></i></div>
        <div ><input type="number"name="Total" placeholder="$000.000"></div>
    </div>
        </div>
        
        </section>
    </section>
    <section class="detalles">
        <div class="centro">
        <div class="des">
            <div><h3>Articulo</h3></div>
            <div class="precio"><h3>Precio</h3></div>
            <div><h3>Cantidad</h3></div>
            <div class="total"><h3>Total</h3></div>
       
    </div>
        <div class="in">
        <img class src="images/cuadroVacio.png" alt="Cuadro" class="cuadroVacio"> <h3>Nombre Talla</h3>
        <div ><input type="number" name="Precio" placeholder="$000.000"></div>
        <div class="cantidad"><i class="fas fa-search-minus"></i><input type="number" name="Cantidad" placeholder="00"><i  class="fas fa-search-plus"></i></div>
        <div ><input type="number"name="Total" placeholder="$000.000"></div>
    </div>
        </div>
        
        </section>
        <div class="ultimo">
            <h3>Resumen</h3>
            <div class="ult">
            <div>Total</div>
            <div><input type="text" placeholder="$000.00"></div>
            <div class="btPagar"><input type="button" name="Pagar" value="PAGAR"></div>
            </div>
        </div>
        </div>
    
  </main>  

  <%- include('./partials/footer') %>

</body>
</html>