<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>



<body>

    <%- include('../partials/header') %>
    
  <main> 
    <section class="articulos">
        <div><title2>Articulos(#)</title2></div>

    </section>
    <section class="detalles">
        
        <div class="centro">
        <div class="des">
            
            <div><h3>Articulo</h3></div>
            <div><h3>Nombre del producto</h3></div>
            <div><h3>Precio</h3></div>
            <div><h3>Cantidad</h3></div>
            <div><h3>Total</h3></div>
       
    </div>
        <div class="in">
            <div class="carro-ventas-imagen"> 
                <img  src="images/cuadroVacio.png" alt="Cuadro" class="cuadroVacio"> 
            </div>
            <div class="carro-ventas-nombre"><h3> Nombre Talla</h3></div>
            <div class="cantidad"><input type="number" name="Precio" placeholder="$000.000"></div>
            <div class="cantidad"><i class="fas fa-search-minus"></i><input type="number" name="Cantidad" placeholder="00"><i  class="fas fa-search-plus"></i></div>
            <div class="cantidad"><input type="number"name="Total" placeholder="$000.000"></div>
        </div>
        </div>
        
    </section>

    <section class="detalles">
        
        <div class="centro">
        <div class="des">
            
            <div><h3>Articulo</h3></div>
            <div><h3>Nombre del producto</h3></div>
            <div><h3>Precio</h3></div>
            <div><h3>Cantidad</h3></div>
            <div><h3>Total</h3></div>
       
    </div>
        <div class="in">
            <div class="carro-ventas-imagen"> 
                <img  src="images/cuadroVacio.png" alt="Cuadro" class="cuadroVacio"> 
            </div>
            <div class="carro-ventas-nombre"><h3> Nombre Talla</h3></div>
            <div class="cantidad"><input type="number" name="Precio" placeholder="$000.000"></div>
            <div class="cantidad"><i class="fas fa-search-minus"></i><input type="number" name="Cantidad" placeholder="00"><i  class="fas fa-search-plus"></i></div>
            <div class="cantidad"><input type="number"name="Total" placeholder="$000.000"></div>
        </div>
        </div>
        
    </section>
            <div class="ultimo">
                <h3>Resumen</h3>
                <div class="ult">
                <div>Total</div>
                <div><input type="text" placeholder="$000.00"></div>
                <div class="btPagar"><input type="button" name="Pagar" value="PAGAR"></div>
                </div>
            </div>
         
    
  </main>  

  <%- include('../partials/footer') %>

</body>
</html>